- content_for :title, 'Urban Planning: The Game'

%table.board
  - @state.rows.each_with_index do |row, i|
    %tr
      - row.each_with_index do |cell, j|
        %td
          %i{:class => "#{hb_class_for(cell)} row#{i} col#{j}"}
      %td
        = @state.row_scores[i]
  %tr
    - @state.col_scores.each do |col|
      %td
        = col
    %td
      = @state.score
